<%- include partials/profile.ejs %>
<h1 class="h2">My Bids</h1>
</div>
<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-trophy"></i> &nbsp; Bid List
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
				<tr>
					<th>Bid Time</th>
					<th>Bid Price</th>
					<th>Passenger No.</th>
					<th>Pickup</th>
					<th>Dropoff</th>
					<th>Pickup Time</th>
					<th>Driver</th>
					<th>Action</th>
				</tr>
				</thead>
				<tfoot>
				<th>Total: <i><%= ctx %></i></th>
				<!-- <th>Win: <i></i></th> -->
				<!-- <th>Avg: <i></i></th> -->
				</tfoot>
				<tbody>
				<% var bid; %>
				<% for(var i = 0; i < tbl.length; i++) { %>
					<% bid = tbl[i]; %>
					<tr>
						<td align="center"><%= bid.bid_time %></td>
						<td align="center"><%= bid.bid_price %></td>
						<td align="center"><%= bid.number_of_passengers %></td>
						<td align="center"><%= bid.pick_up_address %></td>
						<td align="center"><%= bid.drop_off_address %></td>
						<td align="center"><%= bid.pick_up_time %></td>
						<td align="center"><%= bid.firstname %> <%= bid.lastname%></td>
						<td align="center">
							<form action="/del_bid" method="post">
								<button type="submit" name="bid_details"
										value="<%= bid.driver_email %>,<%= bid.car_plate_no %>,<%= bid.pick_up_time %>"
										class="btn btn-danger btn-sm">Remove
								</button>
							</form>
						</td>
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>
	</div>
	<div class="card-footer small text-muted"><span class="badge badge-pill badge-info"><%= bid_msg %></span></div>
</div>
<%- include partials/footer.ejs %>
</main>
</div>
</div>

<%- include bottomscript.ejs %>
</body>
</html>