
<%- include partials/profile.ejs %>
<h1 class="h2">Dashboard</h1>
</div>
<%- include name.ejs %>
            <div class="card mb-3">
  						<div class="card-header">
  							<i class="fas fa-address-card"></i> &nbsp; Basic Information
  						</div>
  						<form method="post" action="/update_info">
  							<div class="card-body">
  								<div class="form-group row">
  									<label for="username" class="col-sm-2 col-form-label"><b>Email Address</b></label>
  									<div class="col-sm-4">
  										<input type="email" required="required" readonly class="form-control-plaintext" id="username" value="<%= user %>" name="username">
  									</div>
  								</div>
  								<div class="form-group row">
  									<label for="firstname" class="col-sm-2 col-form-label"><b>First:</b></label>
  									<div class="col-sm-4">
  										<input type="text" required="required" class="form-control" id="firstname" placeholder="First Name" name="firstname" value="<%= firstname %>">
  									</div>
  									<label for="lastname" class="col-sm-2 col-form-label"><b>Last:</b></label>
  									<div class="col-sm-4">
  										<input type="text" required="required" class="form-control" id="lastname" placeholder="Last Name" name="lastname" value="<%= lastname %>">
  									</div>
  								</div>
                  <div class="form-group row">
  									<label for="firstname" class="col-sm-2 col-form-label"><b>Home Address:</b></label>
  									<div class="col-sm-4">
  										<input type="text" required="required" class="form-control" id="homeaddress" placeholder="Home Address" name="homeaddress" value="<%= firstname %>">
  									</div>
  									<label for="lastname" class="col-sm-2 col-form-label"><b>Work Address:</b></label>
  									<div class="col-sm-4">
  										<input type="text" required="required" class="form-control" id="workaddress" placeholder="Work Address" name="workaddress" value="<%= lastname %>">
  									</div>
  								</div>
  							</div>
  							<div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Update Info</button> &nbsp;&nbsp;&nbsp; <span class="badge badge-pill badge-info"><%= info_msg %></span></div>
  						</form>
  					</div>

  					<div class="card mb-3">
  						<div class="card-header">
  							<i class="fas fa-key"></i> &nbsp; Password: <i>must be at least 8 characters</i>
  						</div>
  						<form method="post" action="/update_pass">
  							<div class="card-body">
  								<div class="form-group row">
  									<label for="username" class="col-sm-2 col-form-label"><b>Email Address</b></label>
  									<div class="col-sm-4">
  										<input type="email" required="required" readonly class="form-control-plaintext" id="username" value="<%= user %>" name="username">
  									</div>
  								</div>
  								<div class="form-group row">
  									<label for="password" class="col-sm-2 col-form-label"><b>Password:</b></label>
  									<div class="col-sm-10">
  										<input type="password" required="required" class="form-control" id="password" placeholder="Your new password" name="password" pattern=".{8,}" />
  									</div>
  								</div>
  							</div>
  							<div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Update Password</button> &nbsp;&nbsp;&nbsp; <span class="badge badge-pill badge-info"><%= pass_msg %></span></div>
  						</form>
  					</div>
<div class="card mb-3">
	<div class="card-header">
		<i class="fas fa-info"></i> &nbsp; Your Fans
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
				<tr>
					<th>No.</th>
					<th>Email of Passenger</th>
				</tr>
				</thead>
				<tfoot>
				<th>Total: <i><%= ctx %></i></th>
				</tfoot>
				<tbody>
				<% for(var i = 0; i < tbl.length; i++) { %>
					<tr>
						<td align="center"><%= i + 1 %></td>
						<td align="center"><%= tbl[i].passenger_email %></td>
						</td>
					</tr>
				<% } %>
				</tbody>
			</table>
		</div>
	</div>
</div>
            <%- include partials/footer.ejs %>
          </main>
        </div>
      </div>
		<%- include bottomscript.ejs %>
  </body>
</html>
