<nav class="col-md-2 d-none d-md-block bg-dark sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link <%= page==="dashboard" ? "active" : "" %>" href="<%= page==="dashboard" ? "#" : "/dashboard" %>">
							<i class="fas fa-fw fa-address-card"></i>
							<span><%= firstname %> <%= lastname %></span>
            </a>
          </li>
          <%if (is_driver) { %>
          <li class="nav-item">
            <a class="nav-link <%= page==="driverinfo" ? "active" : "" %>" href="<%= page==="driverinfo" ? "#" : "/driverinfo" %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
              Driver Information
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= page==="cars" ? "active" : "" %>" href="<%= page==="cars" ? "#" : "/cars" %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
              Cars
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= page==="journeys" ? "active" : "" %>" href="<%= page==="journeys" ? "#" : "/journeys" %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
              Journeys
            </a>
          </li>
          <% } %>
          <%if (is_passenger) { %>
          <li class="nav-item">
            <a class="nav-link <%= page==="payment" ? "active" : "" %>" href="<%= page==="payment" ? "#" : "/payment" %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
              Payment Info
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= page==="available_rides" ? "active" : "" %>" href="<%= page==="available_rides" ? "#" : "/available-rides" %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
              Available Rides
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= page==="bids" ? "active" : "" %>" href="<%= page==="bids" ? "#" : "/bids" %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
              My Bids
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link <%= page==="passenger_journeys" ? "active" : "" %>" href="<%= page==="passenger_journeys" ? "#" : "/passenger-journeys" %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
              My Rides (Passenger)
            </a>
          </li>
          <% } %>
        </ul>
      </div>
    </nav>
